<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = 'index'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('menu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}

            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" role="form" action="{:input('id')?'edit_article':'save_goods'}" method="post" name="myfrom" enctype="multipart/form-data">

                    <div class="form-group" >
                        <label for="exampleInputEmail1">产品名称</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="name" name="goods_name" style="width: 500px;">
                    </div>
                    <div class="form-group" >
                        <label for="exampleInputEmail1">产品价格</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="00.00" name="goods_price" style="width: 500px;">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">产品分类</label>
                        <select class="form-control" name="goods_sort" style="width: 500px;">
                            <!-- <option value="0">顶级分类</option> -->
                            {volist name="sort" id="vo"}
                            <option value="{$vo.id}">|----{$vo.name}</option>
                            {/volist}
                        </select>
                        <p class="help-block">默认为顶级分类</p>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">产品图片</label>
                        <input type="file" id="exampleInputFile" name="img">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">状态</label>
                        <label>
                            <input type="radio" name="status" id="optionsRadios3" value="1" >
                            显示
                        </label>
                        <label>
                            <input type="radio" name="status" id="optionsRadios3" value="0" >
                            不显示
                        </label>
                    </div>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="button" onclick="myfrom.submit()">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    提交
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>


</div>